# .gitignore

# Ignore virtual environments
text2sqlvenv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore IDE configuration files (e.g., VS Code, PyCharm)
.vscode/
.idea/
